// Sign In Pages
.signin_main_wrapper {
    width: 100%;
    @include flex_center();
    justify-content: center;
    background: url('../../../assets/images/common/orange-background.png') no-repeat center top $WE-100;
    background-size: cover;
    padding: 15px;
    .signin_inner_main {
        width: 100%;
        display: inline-block;
    }
    mat-card {
        &.mat-mdc-card {
            &.white_default_card {
                &.signin_box {
                    width: 100%;
                    max-width: 641px;
                    margin: 0 auto 25px auto;
                    padding: 0 15px;
                    border-radius: 20px;
                    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.0705882353);
                    border: 0;

                    mat-card-content {
                        @include max-breakpoint-767 {
                            padding: 0;
                        }
                    }

                    mat-card-footer {
                        &.signin_box_footer {
                            @include flex_center();
                            justify-content: center;
                            min-height: 52px;
                            background: #f3f5f7;
                            border-radius: 0 0 20px 20px;
                            margin: 0 -15px;
                            padding: 6px 15px;

                            p {
                                font: 400 $font-s-14 $primaryFont;
                                color: $BL-102;
                                text-align: center;
                            }

                            @include max-breakpoint-1800 {
                                min-height: 45px;
                                padding: 4px 15px;
                            }

                            a {
                                color: $BL-103;
                                text-decoration: underline;
                            }

                            .ghost_loading_box {
                                display: block;
                                max-width: 80%;
                                min-height: 17px;
                                margin: auto;
                            }
                        }
                    }
                }
            }
        }
    }
}
