/* Typography Family */
$primaryFont: 'Inter', sans-serif;
$secondaryFont: 'Open Sans', sans-serif;
$tertiaryFont: 'Sen', sans-serif;
$gothic-A1: 'Gothic A1', sans-serif;

/* Typography Size */
$font-s-7: 7px;
$font-s-8: 8px;
$font-s-9: 9px;
$font-s-10: 10px;
$font-s-11: 11px;
$font-s-12: 12px;
$font-s-13: 13px;
$font-s-14: 14px;
$font-s-15: 15px;
$font-s-16: 16px;
$font-s-17: 17px;
$font-s-18: 18px;
$font-s-19: 19px;
$font-s-20: 20px;
$font-s-21: 21px;
$font-s-22: 22px;
$font-s-24: 24px;
$font-s-26: 26px;
$font-s-27: 27px;
$font-s-28: 28px;
$font-s-29: 29px;
$font-s-30: 30px;
$font-s-31: 31px;
$font-s-32: 32px;
$font-s-34: 34px;
$font-s-36: 36px;
$font-s-38: 38px;
$font-s-40: 40px;
$font-s-42: 42px;
$font-s-44: 44px;
$font-s-46: 46px;
$font-s-48: 48px;
$font-s-50: 50px;
$font-s-52: 52px;
$font-s-54: 54px;
$font-s-56: 56px;
$font-s-58: 58px;
$font-s-60: 60px;

/* Colors */
$WE-100: #fff;
$BK-100: #000;
$BL-100: #728fb4;
$BL-101: #041242;
$BL-102: #868daa;
$BL-103: #10123a;
$BL-104: #878ea5;
$BL-107: #838ba7;
$BL-108: #4e5983;
$BL-110: #cacdda;
$BL-112: #5a648b;
$BLN-113: #c2ccd6;
$BL-113: #57618d;
$BL-114: #1e1e2c;
$BL-115: #6984a7;
$BL-116: #738eb4;
$BL-117: #e3eaf0;
$BL-118: #f0f4f7;
$BL-119: #41d8cc;
$BL-120: #11b7a3;
$BL-121: #87dad0;
$BLN-119: #f3f7fb;
$BL-700: #e5f3ff;
$GY-100: #6b6b70;
$GY-101: #707070;
$GY-102: #c5c5c5;
$GY-103: #b7b7b7;
$GY-105: #e3e3e4;
$GY-106: #e0e6ed;
$GY-107: #d9d9d9;
$GY-108: #c8c8c8;
$GY-109: #e1e1e1;
$GY-110: #f9f9f9;
$GY-111: #efefef;
$GY-112: #e9e9e9;
$GY-113: #ebebeb;
$GY-114: #cfcfcf;
$GY-116: #e8e8e8;
$GY-117: #dedede;
$GY-118: #cbcbcb;
$GY-123: #646464;
$GY-124: #e0e6ec;
$GYN-126: #d8d8d8;
$GY-126: #878787;
$GY-127: #f5f5f5;
$GY-128: #75768d;
$GY-129: #b5b5b5;
$GY-130: #666666;
$GY-131: #787880;
$GY-132: #dae1e8;
$GYN-132: #ececec;
$GYN-133: #f5f7f9;
$GYN-134: #dbdeeb;
$GR-100: #6bbf8a;
$GR-103: #49a169;
$GR-104: #6dce91;
$GR-105: #059583;
$RD-101: #f95916;
$RD-102: #fe6c6c;
$RD-103: #ff6a6a;
$RD-104: #ffaaaa;
$RD-105: #f76c54;
$RD-107: #ff6161;
$RD-108: #e16464;
$RD-109: #ff8f8f;
$RD-110: #fe9a9a;
$RD-111: #f3a2a2;
$RD-112: #ffa38a;
$RD-113: #ff684b;
$RD-114: #ef4444;
$RD-115: #d83b1d;
$RD-801: #f15a22;
$YL-102: #ffcc00;
$YL-104: #c57000;
$YL-105: #fc9f22;
$YL-106: #f29423;
$OE-1: #ed7d31;
$OE-2: #f8951d;
$OE-3: #fef5e9;
$OE-4: #faa21b;

/* Box Shadow Color */
$boxShadow-C-1: rgba(114, 143, 180, 0);
$boxShadow-C-3: rgba(102, 102, 102, 0.1);
$boxShadow-C-6: rgba(0, 0, 0, 0.15);
$boxShadow-C-11: rgba(0, 0, 0, 0.1);
$disabledBG: rgba(0, 0, 0, 0.12);
$disabledTX: rgba(0, 0, 0, 0.38);

/* Opacity Size */
$opacitySize-1: 0.1;
$opacitySize-5: 0.35;
$opacitySize-6: 0.05;
$opacitySize-7: 0.5;
$opacitySize-9: 0.75;
$opacitySize-10: 0.04;
$opacitySize-11: 0.2;
$opacitySize-12: 0.9;
$opacitySize-13: 0.25;

/* Desktop Screen */
$desktopS-375: 375px;
$desktopS-414: 414px;
$desktopS-480: 480px;
$desktopS-540: 540px;
$desktopS-599: 599px;
$desktopS-767: 767px;
$desktopS-880: 880px;
$desktopS-900: 900px;
$desktopS-959: 959px;
$desktopS-991: 991px;
$desktopS-1024: 1024px;
$desktopS-1080: 1080px;
$desktopS-1136: 1136px;
$desktopS-1199: 1199px;
$desktopS-1279: 1279px;
$desktopS-1365: 1365px;
$desktopS-1366: 1366px;
$desktopS-1440: 1440px;
$desktopS-1580: 1580px;
$desktopS-1680: 1680px;
$desktopS-1800: 1800px;
