<form [formGroup]="invoiceForm">
  <div class="payment_page_inner_wrapper custom_pb">
    <!-- Top Bar -->
    <div class="common_page_back_wrapper">
      <div class="left_column">
        <button class="common_back_nav_btn" (click)="navigateBack()">Create Invoice</button>
      </div>
    </div>

    <div class="payment_invoice_bill_content">
      <!-- Search/Filter Fields -->
      <div class="payment_inner_content1">
        <div class="fx-row fx-md-row fx-sm-row fx-xs-column fx-wrap fx-align-none fx-gap-15">
          <div class="fxFlex fxFlex-50 fxFlex-sm-xs-100"></div>

          <div class="fxFlex fxFlex-50 fxFlex-sm-xs-100">
            <div class="fx-row fx-md-row fx-sm-row fx-xs-row fx-wrap fx-align-none fx-gap-30 fx-gap-sm-15 fx-gap-xs-15">
              <div class="fxFlex fxFlex-25 fxFlex-md-25 fxFlex-sm-25 fxFlex-xs-50">
                <mat-form-field class="default_field_control" appearance="fill">
                  <mat-label>Invoice Ref#</mat-label>
                  <input matInput formControlName="invoiceRef" readonly />
                </mat-form-field>
              </div>

              <div class="fxFlex fxFlex-25 fxFlex-md-25 fxFlex-sm-25 fxFlex-xs-50">
                <mat-form-field class="default_field_control" appearance="fill">
                  <mat-label>Date</mat-label>
                  <input matInput [matDatepicker]="picker" formControlName="date" />
                  <mat-datepicker-toggle matIconSuffix [for]="picker">
                    <mat-icon class="material-icons-outlined light_icon" matDatepickerToggleIcon>event</mat-icon>
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>

              <div class="fxFlex fxFlex-25 fxFlex-md-25 fxFlex-sm-25 fxFlex-xs-50">
                <mat-form-field class="default_field_control light_arrow_field" appearance="fill">
                  <mat-label>Net Terms</mat-label>
                  <mat-select formControlName="terms">
                    <mat-option *ngFor="let term of netTermsOptions" [value]="term">{{ term }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="fxFlex fxFlex-25 fxFlex-md-25 fxFlex-sm-25 fxFlex-xs-50">
                <mat-form-field class="default_field_control" appearance="fill">
                  <mat-label>Due Date</mat-label>
                  <input matInput [matDatepicker]="picker2" formControlName="dueDate" />
                  <mat-datepicker-toggle matIconSuffix [for]="picker2">
                    <mat-icon class="material-icons-outlined light_icon" matDatepickerToggleIcon>event</mat-icon>
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Table Start -->
      <div class="payment_inner_content2">
        <div class="mat_table_main_wrapper mat_table_border_grid">
          <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <!-- Item Column -->
            <ng-container matColumnDef="item">
              <mat-header-cell *matHeaderCellDef>Item</mat-header-cell>
              <mat-cell *matCellDef="let item; let i = index">
                <mat-form-field class="default_field_control table_col_field" appearance="fill">
                  <input matInput [formControl]="item.get('item')" placeholder="Select Item" [matAutocomplete]="auto" />
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of itemsList" [value]="option">{{ option }}</mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </mat-cell>
            </ng-container>

            <!-- Description Column -->
            <ng-container matColumnDef="description">
              <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
              <mat-cell *matCellDef="let item">
                <mat-form-field class="default_field_control table_col_field" appearance="fill">
                  <input matInput [formControl]="item.get('description')" placeholder="Type here (optional)" />
                </mat-form-field>
              </mat-cell>
            </ng-container>

            <!-- Qty Column -->
            <ng-container matColumnDef="qty">
              <mat-header-cell *matHeaderCellDef>Qty</mat-header-cell>
              <mat-cell *matCellDef="let item; let i = index">
                <mat-form-field class="default_field_control table_col_field" appearance="fill">
                  <input matInput type="number" [formControl]="item.get('qty')" (input)="updateAmount(i)" />
                </mat-form-field>
              </mat-cell>
            </ng-container>

            <!-- Rate (USD) Column -->
            <ng-container matColumnDef="rate">
              <mat-header-cell *matHeaderCellDef>Rate (USD)</mat-header-cell>
              <mat-cell *matCellDef="let item; let i = index">
                <mat-form-field class="default_field_control table_col_field" appearance="fill">
                  <input matInput type="number" [formControl]="item.get('rate')" (input)="updateAmount(i)" />
                </mat-form-field>
              </mat-cell>
            </ng-container>

            <!-- Amount (USD) Column -->
            <ng-container matColumnDef="amount">
              <mat-header-cell *matHeaderCellDef>Amount (USD)</mat-header-cell>
              <mat-cell *matCellDef="let item">
                <mat-form-field class="default_field_control table_col_field" appearance="fill">
                  <input matInput [formControl]="item.get('amount')" />
                </mat-form-field>
              </mat-cell>
            </ng-container>

            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
              <mat-cell *matCellDef="let item; let i = index">
                <button mat-icon-button (click)="removeItem(i)" *ngIf="items.length >= 1">
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </div>
      </div>

      <div class="payment_inner_content3">
        <div class="table_data_total_wrap">
          <div class="table_data_total_row">
            <div class="table_data_total_col">
              <button mat-stroked-button class="transparent_btn ml_15" (click)="addItem()">+ Add More</button>
            </div>
            <div class="table_data_total_col">
              <div class="table_data_total_box">
                <div class="table_data_inner_table">
                  <div class="table_data_inner_table_row">
                    <div class="table_data_inner_table_col right_align_col">
                      <h4 class="mat-h4">Invoice Total</h4>
                    </div>
                    <div class="table_data_inner_table_col right_align_col">
                      <h4 class="mat-h4">${{ getInvoiceTotal() }}</h4>
                    </div>
                    <div class="table_data_inner_table_col last_td">&nbsp;</div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="table_data_total_row">
            <div class="table_data_total_col mobile_last">
              <mat-form-field class="default_field_control gray_field" appearance="fill">
                <mat-label>Enter a message for your customer.</mat-label>
                <textarea matInput formControlName="message"></textarea>
              </mat-form-field>
            </div>
            <div class="table_data_total_col mobile_second_last" style="justify-content: flex-end">
              <button mat-stroked-button class="common_btn black_btn fluid_btn border_200" (click)="createInvoice()">
                Create
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>