<h2>Invoice List</h2>
<table>
  <tr>
    <th>Ref#</th>
    <th>Item</th>
    <th>QTY</th>
    <th>Rate</th>
    <th>Date</th>
    <th>Due Date</th>
    <th>Amount</th>
  </tr>
  <tr>
    <td>ABC123</td>
    <td>Machine Operations</td>
    <td>1</td>
    <td>$10</td>
    <td>2/08/2024</td>
    <td>12/08/2024</td>
    <td>$10</td>
  </tr>
  <tr>
    <td>ABC456</td>
    <td>Machine Operations</td>
    <td>2</td>
    <td>$10</td>
    <td>1/08/2024</td>
    <td>11/08/2024</td>
    <td>$20</td>
  </tr>
  <tr>
    <td>ABC678</td>
    <td>Machine Operations</td>
    <td>3</td>
    <td>$10</td>
    <td>2/08/2024</td>
    <td>12/08/2024</td>
    <td>$30</td>
  </tr>
  <tr>
    <td>ABC098</td>
    <td>Machine Operations</td>
    <td>2</td>
    <td>$10</td>
    <td>2/08/2024</td>
    <td>12/08/2024</td>
    <td>$20</td>
  </tr>
  <tr>
    <td>ABC123</td>
    <td>Machine Operations</td>
    <td>1</td>
    <td>$10</td>
    <td>2/08/2024</td>
    <td>12/08/2024</td>
    <td>$10</td>
  </tr>
  <tr>
    <td>ABC321</td>
    <td>Machine Operations</td>
    <td>5</td>
    <td>$10</td>
    <td>2/08/2024</td>
    <td>12/08/2024</td>
    <td>$50</td>
  </tr>
  <tr>
    <td>ABC102</td>
    <td>Machine Operations</td>
    <td>10</td>
    <td>$10</td>
    <td>2/08/2024</td>
    <td>12/08/2024</td>
    <td>$100</td>
  </tr>
</table>
