<h2>Invoice List</h2>
<table>
  <tr>
    <th>Ref#</th>
    <th>Item</th>
    <th>QTY</th>
    <th>Rate</th>
    <th>Date</th>
    <th>Due Date</th>
    <th>Amount</th>
  </tr>
  <tr *ngFor="let invoice of invoices">
    <td>{{ invoice.ref }}</td>
    <td>{{ getItemsList(invoice.items) }}</td>
    <td>{{ getTotalQty(invoice.items) }}</td>
    <td>{{ getRatesList(invoice.items) }}</td>
    <td>{{ invoice.date }}</td>
    <td>{{ invoice.dueDate}}</td>
    <td>${{ getTotalAmount(invoice.items) }}</td>
  </tr>
</table>
