/* Typography Family */
$primaryFont: 'Inter', sans-serif;
$secondaryFont: 'Open Sans', sans-serif;

/* Typography Size */
$font-s-7: 7px;
$font-s-8: 8px;
$font-s-9: 9px;
$font-s-10: 10px;
$font-s-11: 11px;
$font-s-12: 12px;
$font-s-13: 13px;
$font-s-14: 14px;
$font-s-15: 15px;
$font-s-16: 16px;
$font-s-17: 17px;
$font-s-18: 18px;
$font-s-19: 19px;
$font-s-20: 20px;
$font-s-21: 21px;
$font-s-22: 22px;
$font-s-24: 24px;
$font-s-26: 26px;
$font-s-28: 28px;
$font-s-29: 29px;
$font-s-30: 30px;
$font-s-32: 32px;
$font-s-34: 34px;
$font-s-36: 36px;
$font-s-38: 38px;
$font-s-40: 40px;
$font-s-42: 42px;
$font-s-44: 44px;
$font-s-46: 46px;
$font-s-48: 48px;
$font-s-50: 50px;
$font-s-52: 52px;
$font-s-54: 54px;
$font-s-56: 56px;
$font-s-58: 58px;
$font-s-60: 60px;

/* Colors */
$BE-1: #10123a;
$BE-2: #0077c5;
$BE-3: #1ab4d7;
$BK-1: #000000;
$BK-2: #333333;
$BK-3: #8b8b8b;
$GN-1: #6bbf8a;
$GN-2: #6a8d49;
$GN-3: #36b772;
$GY-1: #d2d4db;
$GY-2: #868daa;
$GY-3: #c2c4cb;
$GY-4: #f1f1f1;
$GY-5: #d2d3db;
$GY-6: #808080;
$GY-7: #bbbbbb;
$GY-8: #c8c8c8;
$GY-9: #c2ccd6;
$GY-10: #838ba7;
$GY-11: #57618d;
$GY-12: #9fa0b0;
$GY-13: #e0e0e0;
$GY-14: #cfcfcf;
$GY-15: #363636;
$GY-16: #707070;
$GY-17: #787880;
$GY-18: #e3eaf0;
$GY-19: #ced7e0;
$GY-20: #acb5be;
$OE-1: #ed7d31;
$OE-2: #f8951d;
$OE-3: #fff5e9;
$OE-4: #f95916;
$WE-1: #ffffff;
$YL-1: #fbbc05;
$YL-2: #f9bc16;
$YL-3: #f6bc00;
$RD-1: #f15a22;
$RD-2: #ff6161;
$RD-3: #f12222;
$RD-4: #e95b14;
$RD-5: #fe9a9a;
$RD-6: #ff5252;

// New Skin Design Variables
$BL-1: #1e1e2c;
$BL-2: #777780;
$BL-3: #f0f4f7;

/* Opacity Size */
$opacitySize-1: 0.1;
$opacitySize-2: 0.45;
$opacitySize-3: 0.3;
$opacitySize-4: 0.8;
$opacitySize-5: 0.35;
$opacitySize-6: 0.05;
$opacitySize-7: 0.5;
$opacitySize-8: 0.65;
$opacitySize-9: 0.75;
$opacitySize-10: 0.04;
$opacitySize-11: 0.2;
$opacitySize-12: 0.9;
$opacitySize-13: 0.25;

/* Responsive Screen Width */
$desktopS-1800: 1800px;
$desktopS-1680: 1680px;
$desktopS-1580: 1580px;
$desktopS-1440: 1440px;
$desktopS-1366: 1366px;
$desktopS-1365: 1365px;
$desktopS-1279: 1279px;
$desktopS-1199: 1199px;
$desktopS-1136: 1136px;
$desktopS-1080: 1080px;
$desktopS-1024: 1024px;
$desktopS-991: 991px;
$desktopS-959: 959px;
$desktopS-900: 900px;
$desktopS-880: 880px;
$desktopS-767: 767px;
$desktopS-599: 599px;
$desktopS-540: 540px;
$desktopS-480: 480px;
$desktopS-414: 414px;
